## Deliverable 3. Create a Travel Itinerary Map.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [3]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv(r"C:\Users\jonhi\OneDrive\Documents\CWRU Data Analytics Boot Camp\Classes\Unit 6 - Python & Python APIs\World Weather Analysis\World_Weather_Analysis\Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Hilo,US,80.26,clear sky,19.7297,-155.0900,Hilo Hawaiian Hotel
1,1,Jamestown,US,70.05,few clouds,42.0970,-79.2353,Hampton Inn & Suites Jamestown
2,11,Albany,US,74.03,clear sky,42.6001,-73.9662,NaN
3,12,Jiaocheng,CN,74.05,light rain,24.6774,116.1389,Changtan Tourism Resort
4,15,Cape Town,ZA,66.38,clear sky,-33.9258,18.4232,"Radisson Blu Hotel Waterfront, Cape Town"

In [4]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [5]:
# 4a. Add a marker layer for each city to the map.

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City"] == "Estelle") & (vacation_df["Hotel Name"] == "Boomtown Casino & Hotel New Orleans")]
vacation_end = vacation_df.loc[(vacation_df["City"] == "Estelle") & (vacation_df["Hotel Name"] == "Boomtown Casino & Hotel New Orleans")]
vacation_stop1 = vacation_df.loc[(vacation_df["City"] == "Coahuayana") & (vacation_df["Hotel Name"] == "El rranchito michuacan de ocampos")]
vacation_stop2 = vacation_df.loc[(vacation_df["City"] == "Petatlan") & (vacation_df["Hotel Name"] == "Hotel California Petatlán")]
vacation_stop3 = vacation_df.loc[(vacation_df["City"] == "Acapulco") & (vacation_df["Hotel Name"] == "HS Hotsson Smart Acapulco")]

In [7]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start['Lat'].to_numpy()[0], vacation_start['Lng'].to_numpy()[0]
end = vacation_end['Lat'].to_numpy()[0], vacation_end['Lng'].to_numpy()[0]
stop1 = vacation_stop1['Lat'].to_numpy()[0], vacation_stop1['Lng'].to_numpy()[0]
stop2 = vacation_stop2['Lat'].to_numpy()[0], vacation_stop2['Lng'].to_numpy()[0]
stop3 = vacation_stop3['Lat'].to_numpy()[0], vacation_stop3['Lng'].to_numpy()[0]
print(f'Starting Vacation at: {start}.\n Then make your first stop at: {stop1}.\n Followed by stop 2: {stop2}.\n Proceed to stop 3: {stop3}.\n Ending at {end}')

Starting Vacation at: (29.8458, -90.1067).
 Then make your first stop at: (18.7333, -103.6833).
 Followed by stop 2: (17.5167, -101.2667).
 Proceed to stop 3: (16.8634, -99.8901).
 Ending at (29.8458, -90.1067)

In [8]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
vacation_itinerary = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')

fig.add_layer(vacation_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1335,Estelle,US,78.80,overcast clouds,29.8458,-90.1067,Boomtown Casino & Hotel New Orleans
1,436,Coahuayana,MX,85.32,overcast clouds,18.7333,-103.6833,El rranchito michuacan de ocampos
2,954,Petatlan,MX,87.60,scattered clouds,17.5167,-101.2667,Hotel California Petatlán
3,844,Acapulco,MX,87.62,scattered clouds,16.8634,-99.8901,HS Hotsson Smart Acapulco
4,1691,Acapulco,MX,87.62,scattered clouds,16.8634,-99.8901,HS Hotsson Smart Acapulco

In [10]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [11]:
# 11a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
vacation_itinerary = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')

fig.add_layer(marker_layer)
fig.add_layer(vacation_itinerary)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))